.DS_Store
/.build
/Packages
node_modules/
frontend/node_modules/
backend/node_modules/
ontime.bundle
frontend/.expo/
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
